/* elementary commons ++++++++++++++++++++*/

/* Nautilus specific fix ++++ */
/* .nautilus-window headerbar entry:focus,
.nautilus-window headerbar entry {
  margin-top: 6px;
  margin-bottom: 4px;
}

headerbar entry:focus,
headerbar entry {
  margin-top: 2px;
  margin-bottom: 0px;
} */

/* Elementary os fixes */

  /* fixes indicator spacing */
.composited-indicator {
  padding: 0 4px;
}

.panel .maximized {
  background-color: #000;
}

.panel.color-light .composited-indicator > revealer label,
.panel.color-light .composited-indicator > revealer image,
.panel.color-light .composited-indicator > GtkRevealer {
color: alpha (#000, 0.65);
text-shadow: 0 0 2px alpha (#fff, 0.3),
             0 1px 0 alpha (#fff, 0.25);
icon-shadow: 0 0 2px alpha (#fff, 0.3),
             0 1px 0 alpha (#fff, 0.25);
}

.panel.color-light .composited-indicator .keyboard {
background-color: alpha (#000, 0.65);
box-shadow: 0 0 2px alpha (#fff, 0.3),
            0 1px 0 alpha (#fff, 0.25);
color: #fff;
text-shadow: none;
}
